img{
    transition:0.4s;
}
img:hover{
    transform:scale(1.06);
}

h2{
    transition:0.4s;
    cursor:default
}
h2:hover{
    transform:scale(1.06);
}
p{
    transition:0.4s;
    cursor:default
}
.pcl:hover{
    transform:scale(1.06);
    background:grey;
    color:white;
    border-radius:5px;
}
