img{
    transition:0.4s;
}
img:hover{
    transform:scale(1.06);
    box-shadow:2px 4px 5px -2px rgba(0,0,0,0.8);
}

h2{
    transition:0.4s;
    cursor:default
}
h2:hover{
    transform:scale(1.06);
}
p{
    transition:0.4s;
    cursor:default;
    padding-left:5%;
}
h2{
    padding-left:5%;
  }
.pcl:hover{
    transform:scale(1.06);
    background:grey;
    color:white;
    border-radius:5px;
}
